body{
	background-image:url("images/smashbg.png");
	color:white;
	padding:20px;
	font-family: Arial;
	margin:0 auto;
}

button{
	border:2px solid white;
	background:black;
	color:white;
}

h2{
	text-decoration:underline;
}

.row{
	background-image:url("images/bg.png");
	border:5px solid white;
	text-align:center;
}

#heading{
	font-style:bold;
	padding:30px;
}

#main{
	font-weight:bold;
	font-size:20px;
	padding:20px;
}